@import "tailwindcss";

@font-face {
  font-family: 'Goonies';
  src: url('/fonts/Goonies.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-title: Goonies;
  --color-seafoamgreen: #99f6e4;
}