---
import '../styles/global.css'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import ThemeScript from '../components/ThemeScript.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About - Chuck Danielson</title>
		<ThemeScript />
	</head>
	<body class="min-h-dvh flex flex-col" style="background-color: var(--color-bg);">
		<Header breadcrumbs={[{ label: "about" }]} />
		<main class="flex-1 px-8 max-w-5xl mx-auto w-full">
			<p class="font-mono" style="color: var(--color-fg);">Coming soon.</p>
		</main>
		<Footer />
	</body>
</html>
