---
import '../styles/global.css'
import ThemeScript from '../components/ThemeScript.astro'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chuck Danielson</title>
		<ThemeScript />
	</head>
	<body>
		<div class="h-dvh flex flex-col items-center justify-center" style="background-color: var(--color-bg);">
			<h1 class="text-5xl font-title text-center leading-tight" style="color: var(--color-fg);">
				<span class="text-[1.25em]">C</span>huck<br /><span class="text-[1.25em]">D</span>anielsson
			</h1>
			<div class="mt-4 font-title" style="color: var(--color-fg);">
				<a href="/blog" class="hover:underline">blog</a>
				<span class="mx-2">*</span>
				<a href="/about" class="hover:underline">about</a>
				<span class="mx-2">*</span>
				<a href="https://github.com/dcchuck" target="_blank" rel="noopener noreferrer" class="hover:underline">github</a>
			</div>
		</div>
	</body>
</html>
