---
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Chuck Danielson</title>
	</head>
	<body>
		<div class="bg-black h-dvh flex flex-col items-center justify-center">
			<h1 class="text-5xl font-title text-white text-center leading-tight">
				<span class="text-[1.25em]">C</span>huck<br /><span class="text-[1.25em]">D</span>anielsson
			</h1>
			<div class="mt-4 text-white font-title">
				<a href="/blog">blog</a>
				<span class="mx-2">*</span>
				<a href="/about">about</a>
				<span class="mx-2">*</span>
				<a href="https://github.com/dcchuck" target="_blank" rel="noopener noreferrer">github</a>
			</div>
		</div>
	</body>
</html>
