---
---

<footer class="p-8 pt-4">
  <nav class="font-title text-center" style="color: var(--color-fg);">
    <a href="/blog" class="hover:underline">blog</a>
    <span class="mx-2">*</span>
    <a href="/about" class="hover:underline">about</a>
    <span class="mx-2">*</span>
    <a href="https://github.com/dcchuck" target="_blank" rel="noopener noreferrer" class="hover:underline">github</a>
  </nav>
</footer>
