---
---

<footer class="p-8 pt-4">
  <nav class="font-title text-white text-center">
    <a href="/blog" class="hover:text-seafoamgreen">blog</a>
    <span class="mx-2">*</span>
    <a href="/about" class="hover:text-seafoamgreen">about</a>
    <span class="mx-2">*</span>
    <a href="https://github.com/dcchuck" target="_blank" rel="noopener noreferrer" class="hover:text-seafoamgreen">github</a>
  </nav>
</footer>
