.App {
  font-family: 'Fredoka One', cursive;
  min-height: 100vh;
  background-color: #b4cfc0;
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
}

.Name {
  display: flex;
  flex-direction: column;
  padding-left: 4vw;
  margin-top: 4vw;
}

.Name > h1 {
  font-size: 12vw;
  margin: 0;
}


.Gig {
  font-size: 4vw;
}

.Details {
  display: flex;
  padding: 0 4vw 0 6vw;
}

@media screen and (min-width: 601px) {
  .Name > h1 {
    font-size: 12vw;
    margin: 0;
  }

  .Details {
    justify-content: space-between;
  }

  .NavMobile {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .Name > h1 {
    font-size: 24vw;
    margin: 0;
    word-wrap: break-word;
  }

  .Details {
    justify-content: flex-end;
    flex-direction: column;
    text-align: right;
  }

  .NavDesktop {
    display: none;
  }

  .Gig {
    font-size: 8vw;
  }
}

.Icon:hover {
  cursor: pointer;
}
